    <div class="row">
        <div class="col-6">
          <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Type to filter">
        </div>
      </div>
    
      <hr>
      
      <table class="table table-striped" *ngIf='personas && personas.length'>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">identidicacion</th>
            <th scope="col">nombre</th>
            <th scope="col">apellidos</th>
            <th scope="col">sexo</th>
            <th scope="col">edad</th>
            <th scope="col">departamento</th>
            <th scope="col">ciudad</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let persona of personas|filtroPersona:searchText; index as i ">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ persona.identificacion }} </td>
            <td>{{ persona.nombre }}</td>
            <td>{{ persona.apellido }}</td>
            <td>{{ persona.sexo }}</td>
            <td>{{ persona.edad }}</td>
            <td>{{ persona.departamento }}</td>
            <td>{{ persona.ciudad }}</td>
      
          </tr>
        </tbody>
      </table>

